@import "../core/variables.scss";

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.content {
  flex: 1;
}

.resizer {
  position: absolute;
  margin-top: 10px;
  height: 20px;
  justify-self: flex-end;
  border-right: 1px solid $color-border;
  cursor: col-resize;
  transition: opacity 280ms;
  margin-right: -1px;

  &:hover,
  &:active {
    height: calc(100% - 10px);
  }
}

:host {
  &:last-child .resizer {
    display: none;
  }
}
