@import "../core/variables.scss";

.progressbar {
  height: 8px;
  border-radius: $border-radius;
  overflow: hidden;

  .active {
    height: 100%;
    border-radius: $border-radius;
    transition: transform 380ms ease;
  }
}

@each $name, $color in $colors {
  .#{$name} {
    background: rgba($color, 0.2);

    .active {
      background: $color;
    }
  }
}
