@import "../core/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius;
  padding: 10px 15px;

  &.rounded {
    border-radius: $border-radius-rounded;
  }

  &:not(:disabled):hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
  }
}

@each $name, $color, $hover in $colors {
  .#{$name} {
    color: $color-white;
    background-color: $color;

    &:not(:disabled):hover {
      background-color: $hover;
      box-shadow: $box-shadow-medium;
    }

    &:disabled {
      background-color: rgba($color, 0.5);
    }
  }
}

.cancel {
  color: $color-text;
  font-weight: 600;
}

.btn-link,
.link {
  display: flex;
  align-items: center;
  color: $color-primary;
  background-color: transparent;
  padding: 0;

  &:not(:disabled):hover {
    color: $color-primary-h;
  }

  &:disabled {
    color: rgba($color-primary, 0.5);
  }
}

.link {
  text-transform: none;
}
