@import "../core/variables.scss";

.header {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: $color-label;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  user-select: none;
}

.tab {
  display: flex;
  border-bottom: 1px solid $color-border;
  padding: 0 20px 10px 20px;
  cursor: pointer;

  &.selected {
    border-bottom: 2px solid $color-primary;
  }
}

.content {
  margin-top: 20px;
}
