<div class="tabs">
  <div class="header">
    <div *ngFor="let item of items | async" class="tab" [class.selected]="selectedTab === item" (click)="select(item)">
      <ng-container *ngIf="item.label; else default">
        <ng-container *ngTemplateOutlet="item.label.template"> </ng-container>
      </ng-container>
      <ng-template #default> {{ item.title }} </ng-template>
    </div>
  </div>
  <div class="content">
    <ng-container *ngIf="selectedTab?.content">
      <ng-container *ngTemplateOutlet="selectedTab.content.template"></ng-container>
    </ng-container>
  </div>
</div>
