<ng-container *ngIf="src; else letter">
    <img class="avatar" [src]="src" [style.width]="size+'px'" [style.height]="size+'px'" [title]="name" />
</ng-container>
<ng-template #letter>
    <div class="avatar" [title]="name" [style.color]="color" [style.background-color]="bgColor" [style.width]="size+'px'" [style.height]="size+'px'">
        {{name?.[0]?.toUpperCase() ?? "U"}}
    </div>
</ng-template>