@import "../core/variables.scss";

.checkbox {
  display: flex;
  align-items: center;
  user-select: none;

  .input {
    display: none;

    &:not(.disabled):hover {
      cursor: pointer;
    }

    &.disabled {
      opacity: $opacity-bg-disabled;
    }
  }

  .label {
    color: $color-label;
    font-size: 13px;
    position: relative;
    padding-left: 24px;

    &:not(.disabled):hover {
      cursor: pointer;
    }

    &.disabled {
      opacity: $opacity-text-disabled;
    }
  }

  .input + .label:after {
    font-family: "Material Icons Outlined";
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    border: 2px solid $color-default;
    border-radius: $border-radius-small;
  }

  .input:checked + .label:after {
    content: "\E5CA";
    color: #fff;
    text-align: center;
  }

  @each $name, $color in $colors {
    .input:checked.#{$name} + .label:after {
      background-color: $color;
      border-color: $color;
    }
  }
}
