<div class="checkbox" (click)="toggle($event)">
    <input type="checkbox" class="input" [ngClass]="color" [checked]="checked" [class.disabled]="disabled" />
    <span class="label" [class.disabled]="disabled">
        <ng-content></ng-content>
    </span>
</div>