@import "../core/variables.scss";

.toggler {
  cursor: pointer;
}

.popper {
  position: relative;
  box-sizing: border-box;
  z-index: 999;

  .box {
    display: flex;
    position: absolute;
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-small;
    border-radius: $border-radius;
    box-sizing: border-box;
  }
}
