<span class="toggler" (click)="toggle($event)">
  <ng-content select="[toggler]"></ng-content>
</span>

<div class="popper" #popperRef>
  <div
    *ngIf="isOpen"
    class="box"
    [style.max-height.px]="height"
    [style.width]="width"
    [style.bottom.px]="bottom"
  >
    <ng-content></ng-content>
  </div>
</div>
