<div class="backdrop">
  <div
    class="popup"
    [class.popup-double-sided]="doubleSided"
    [ngClass]="size"
    draggable
  >
    <ng-container *ngIf="doubleSided; else other">
      <div
        class="popup-left-side"
        [class.popup-left-side-width]="!leftWidth"
        [style.width]="leftWidth"
      >
        <div class="popup-header" draggingHandler>
          <div class="title">{{ header }}</div>
        </div>

        <div class="popup-left-side-body">
          <ng-content select="[left-side]"></ng-content>
        </div>
      </div>

      <div class="popup-right-side">
        <div class="popup-right-side-body">
          <ng-content select="[right-side]"></ng-content>
          <div
            class="popup-close popup-double-sided-close"
            (click)="handleClose()"
          >
            <span
              class="material-icons-outlined popup-close-icon popup-double-sided-close-icon"
            >
              close
            </span>
          </div>
        </div>

        <div class="popup-footer">
          <ng-container [ngTemplateOutlet]="defaultTemplate"></ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #other>
      <div class="popup-header" draggingHandler>
        <div class="title">{{ header }}</div>
        <div class="popup-close" (click)="handleClose()">
          <span class="material-icons-outlined popup-close-icon">close</span>
        </div>
      </div>

      <div class="popup-body">
        <ng-content></ng-content>
      </div>

      <div class="popup-footer">
        <ng-container [ngTemplateOutlet]="defaultTemplate"> </ng-container>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #defaultTemplate>
  <ngx-button (click)="handleClose()" type="cancel">{{ cancel }}</ngx-button>
  <ngx-button (click)="handleSave()" [type]="saveType">{{ save }}</ngx-button>
</ng-template>
