@import "../core/variables.scss";

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: backdrop;
  z-index: 999;
}

.popup {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  box-shadow: $box-shadow-large;
  z-index: 100;
  animation: fade 0.58s;
  outline: 0;
  box-sizing: border-box;

  &.xlarge {
    width: 1000px;
  }

  &.large {
    width: 750px;
  }

  &.medium {
    width: 500px;
  }

  &.small {
    width: 300px;
  }
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  .title {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
  }
}

.popup-close {
  display: flex;
  align-items: center;
  border-radius: $border-radius-circle;
  padding-top: 40px;
  padding-right: 40px;

  .popup-close-icon {
    font-size: 24px;
    color: $color-icon;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  padding: 0 40px 40px 40px;
}

.popup-double-sided {
  display: flex;
  flex-direction: row;
}

.popup-left-side {
  background-color: #fafafa;
  border-right: 1px solid $color-border;

  &.popup-left-side-width {
    flex: 1;
  }

  .popup-left-side-body {
    padding: 30px 40px 40px 40px;
  }
}

.popup-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .popup-right-side-body {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 30px 40px;
  }

  .popup-double-sided-close {
    position: relative;
    width: 0;
    padding: 0;
  }

  .popup-double-sided-close-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@keyframes backdrop {
  0% {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
