<ngx-label [required]="required" [disabled]="disabled">{{label}}</ngx-label>

<ngx-popper [(isOpen)]="isOpen" [isLoading]="isLoading">
  <div toggler class="dropdown" [class.disabled]="disabled">
    <div class="dropdown-input">
      <ng-template *ngIf="selected === null; else value"></ng-template>

      <ng-template #value>
        <ng-container
          *ngTemplateOutlet="valueTemplate || defaultValueTemplate; context:{$implicit: selectedItem}"
        ></ng-container>
      </ng-template>
    </div>

    <div
      *ngIf="isClearable && !!selected"
      class="dropdown-clear-icon material-icons-outlined"
      (click)="clear($event)"
    >
      close
    </div>

    <div
      class="dropdown-arrow-icon material-icons-outlined"
      [class.is-open]="isOpen"
      [class.disabled]="disabled"
    >
      arrow_drop_down
    </div>
  </div>

  <div class="dropdown-popup">
    <div *ngIf="isSearchable" class="dropdown-header">
      <span class="material-icons-outlined dropdown-search-icon">search</span>
      <input
        class="dropdown-search-input"
        [placeholder]="searchPlaceholder"
        [value]="searchValue"
        (keyup)="search($event)"
      />
    </div>

    <ngx-dropdown-items
      [items]="filteredItems"
      [itemTemplate]="itemTemplate"
      (select)="select($event)"
      class="dropdown-items-container"
      [selected]="selected"
    ></ngx-dropdown-items>

    <div *ngIf="filteredItems.length === 0" class="dropdown-no-data">
      <ng-container
        [ngTemplateOutlet]="noDataTemplate || defaultNoDataTemplate"
      >
      </ng-container>
    </div>

    <div *ngIf="!!footerTemplate" class="dropdown-footer">
      <ng-container
        [ngTemplateOutlet]="footerTemplate || defaultFooterTemplate"
      >
      </ng-container>
    </div>
  </div>
</ngx-popper>

<ng-template #defaultValueTemplate let-item>{{ item?.text }}</ng-template>
<ng-template #defaultFooterTemplate></ng-template>
<ng-template #defaultNoDataTemplate>No results found</ng-template>
