<ngx-popper [(isOpen)]="isOpen">
  <ng-container toggler>
    <ng-content></ng-content>
  </ng-container>

  <ngx-dropdown-items
    box
    [items]="items"
    [itemTemplate]="itemTemplate"
    (select)="select($event)"
    class="dropdown-items-container"
  ></ngx-dropdown-items>
</ngx-popper>
