<div class="dropdown-items">
  <ng-container *ngFor="let item of items">
    <div *ngIf="item.text === '-'; else other" class="dropdown-divider"></div>

    <ng-template #other>
      <div
        class="dropdown-item ellipsis"
        [class.active]="item.id && item.id === selected"
        (click)="click(item)"
      >
        <ng-container
          [ngTemplateOutlet]="itemTemplate || defaultTemplate"
          [ngTemplateOutletContext]="{ $implicit: item}"
        >
        </ng-container>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #defaultTemplate let-item>
  <span
    *ngIf="item.icon || showIconColumn"
    [class.material-icons-outlined]="item.icon"
    [class.dropdown-item-icon]="item.icon || showIconColumn"
  >
    {{item.icon}}
  </span>
  {{item.text}}
</ng-template>
