@import "../core/variables.scss";

.dropdown-items {
  font-size: 12px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    user-select: none;

    &:first-child {
      margin-top: 0.5rem;
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }

    .dropdown-item-icon {
      font-size: 16px;
      width: 16px;
      margin-right: 10px;
    }

    &:hover {
      background: $color-bg-selection;
      cursor: pointer;
    }

    &.active {
      background: $color-bg-selection;
    }
  }

  .dropdown-divider {
    background-color: $color-border;
    height: 1px;
    margin: 0.5rem 0;
  }
}

.dropdown-header {
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  align-items: center;

  .dropdown-search-icon {
    color: $color-label;
    font-size: 16px;
  }

  .dropdown-search-input {
    margin-left: 5px;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 12px;
    background: transparent;
    padding: 0;
    outline: none;
  }
}

.dropdown-footer {
  margin-top: 1px;
  padding: 10px 1rem;
  background-color: $color-bg-selection;
  user-select: none;
}

.dropdown-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 150px;
  padding: 10px;
  text-align: center;
  font-weight: 300;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-text;
  user-select: none;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  width: 100%;

  &:not(.disabled):hover {
    box-shadow: $box-shadow-small;
    cursor: pointer;
  }

  &.disabled {
    color: $color-text-disabled;
    background-color: $color-bg-disabled;
    cursor: not-allowed;
  }

  .dropdown-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-height: 32px;
    font-size: 12px;
    color: $color-text;
  }

  .dropdown-arrow-icon {
    transition: transform 0.3s ease-in-out;

    &:not(.disabled):hover {
      cursor: pointer;
    }

    &.is-open {
      transform: rotate(180deg);
    }
  }

  .dropdown-clear-icon {
    font-size: 16px;
    display: none;
  }

  &:not(.disabled):hover .dropdown-clear-icon {
    display: block;
  }
}

.dropdown-popup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-items-container {
  overflow: hidden;
  width: 100%;
}
