<ngx-label [required]="required" [disabled]="disabled" [visible]="visible"
  >{{label}}</ngx-label
>
<div
  *ngIf="visible"
  class="text-field"
  [ngClass]="{
    'error': error,
    'disabled': disabled,
    'focus': isFocused
  }"
>
  <input
    [disabled]="disabled"
    [maxLength]="maxLength"
    [placeholder]="placeholder"
    [type]="type"
    [value]="value"
    [ngClass]="{ 'input': true, 'disabled': disabled }"
    (keypress)="error && onKeypress()"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (change)="onChange($event)"
  />
</div>
<div class="help" [ngClass]="{'error': error}">{{error}}</div>
