@import "../core/variables.scss";

.text-field {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  padding: 0 10px;

  &:not(.disabled):hover {
    box-shadow: $box-shadow-small;
  }

  &.error {
    border: 1px solid $color-danger;
  }

  &.focus {
    box-shadow: $box-shadow-small;
  }
}

.input {
  flex-grow: 1;
  color: $color-text;
  background-color: $color-white;
  min-height: 32px;
  font-size: 12px;
  border: none;
  outline: none;

  &::placeholder {
    color: $color-label;
  }
}

.help {
  font-size: 12px;
  padding-top: 5px;
  min-height: 20px;

  &.error {
    color: $color-danger;
  }
}

.disabled {
  color: $color-text-disabled;
  background-color: $color-bg-disabled;
  user-select: none;
}
