@import "../core/variables.scss";

.pager {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .right {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
