<div class="pager">
  <div class="left">
    <ngx-icon
      name="first_page"
      [disabled]="pager.page === 0"
      (click)="first()"
      title="Display the first page"
    ></ngx-icon>
    <ngx-icon
      name="navigate_before"
      [disabled]="pager.page === 0"
      (click)="previous()"
      title="Display the previous page"
    ></ngx-icon>

    {{ pager.page + 1 }} / {{ pager.pages }}

    <ngx-icon
      name="navigate_next"
      [disabled]="pager.pages === 0 || pager.page === pager.pages - 1"
      (click)="next()"
      title="Display the next page"
    >
    </ngx-icon>
    <ngx-icon
      name="last_page"
      [disabled]="pager.pages === 0 || pager.page === pager.pages - 1"
      (click)="last()"
      title="Display the last page"
    >
    </ngx-icon>
    <ngx-dropdown
      [items]="pager.limits"
      [(selected)]="pager.limit"
      (selectedChange)="itemsPerPage()"
    ></ngx-dropdown>
    items per page
  </div>

  <div class="right">{{pager.from}}-{{pager.to}} of {{pager.total}}</div>
</div>
