@import "../core/variables.scss";

.switch {
  display: flex;
  align-items: center;
  width: 36px;
  height: 15px;
  border-radius: 20px;
  cursor: pointer;
  background: $color-default;

  @each $name, $color, $hover in $colors {
    &.#{$name}.selected {
      background: rgba($color, 0.5);
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.thumb {
  width: 20px;
  height: 20px;
  background: $color-white;
  border-radius: 50%;
  transition: all 280ms ease-in;
  box-shadow: $box-shadow-x-large;

  &.selected {
    transform: translateX(100%);
  }

  @each $name, $color, $hover in $colors {
    &.#{$name}.selected {
      background: $color;
    }
  }
}
