<div class="switch" [ngClass]="color" [class.selected]="selected" [class.disabled]="disabled" (click)="onClick()">
  <div class="thumb" [ngClass]="color" [class.selected]="selected" [class.disabled]="disabled"></div>
</div>
