<ngx-grid-toolbar
  [columns]="Columns"
  (reset)="onReset()"
  (search)="onSearch($event)"
  (export)="onExport()"
  (columnVisibilityChange)="onColumnVisibilityChange()"
>
</ngx-grid-toolbar>

<table class="grid">
  <thead class="header">
    <tr>
      <ng-container *ngFor="let column of visibleColumns; index as i">
        <th (click)="sort(column)" resizable>
          <div class="content">
            <div class="caption">{{ column.caption }}</div>
            <div class="actions">
              <div class="icon">
                <span *ngIf="column.direction" class="material-icons-outlined">
                  {{ column.direction === asc ? 'south' : 'north' }}
                </span>
              </div>
              <div class="icon" (click)="filter($event, column)">
                <span class="material-icons-outlined filter-icon">
                  filter_list
                </span>
              </div>
            </div>
          </div>
        </th>
      </ng-container>
    </tr>
  </thead>

  <tbody class="body">
    <tr *ngFor="let item of Items">
      <ng-container *ngFor="let column of visibleColumns">
        <td>
          <div class="item-cell">
            <ng-template #defaultColumnTemplate>
              {{ item[column.name] }}
            </ng-template>
            <ng-container
              [ngTemplateOutlet]="column.template || defaultColumnTemplate"
              [ngTemplateOutletContext]="{ $implicit: item}"
            >
            </ng-container>
          </div>
        </td>
      </ng-container>
    </tr>

    <tr *ngIf="Items?.length <= 0">
      <td colspan="6" style="text-align: center; padding: 20px">
        <ng-template #defaultNoDataTemplate>No item to display</ng-template>
        <ng-container
          [ngTemplateOutlet]="noDataTemplate || defaultNoDataTemplate"
        ></ng-container>
      </td>
    </tr>
  </tbody>
</table>

<div class="footer">
  <ngx-pager (load)="onLoad($event)"></ngx-pager>
</div>
