@import "../core/variables.scss";
.grid {
  position: relative;
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  padding-bottom: 20px;
}

.header th {
  border-bottom: 1px solid $color-border;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;

  .content {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    padding: 10px 0 10px 10px;
    cursor: pointer;

    .caption {
      flex: 1;
      text-align: left;
      user-select: none;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      width: 34px;

      .material-icons-outlined {
        font-size: 12px;
      }

      .icon {
        user-select: none;
        flex: 1;
      }

      .filter-icon {
        display: none;
      }
    }
  }
}

.item-cell {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.body {
  & tr {
    cursor: pointer;
  }

  & tr:hover {
    background-color: $color-bg-selection;
  }

  & td {
    border-bottom: 1px solid $color-border;
    padding: 3px;
    font-size: 14px;
    line-height: 25px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
}

.footer {
  padding-top: 20px;
}
