@import "../core/variables.scss";

input {
  height: 100%;
  border: none;
  outline: none;
  color: $color-label;
  font-size: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: red;
}
