<ng-container *ngIf="focus">
    <input #input type="text" [value]="value" class="input" (click)="onClick($event)" (blur)="onBlur($event)"
           (keydown.arrowdown)="shiftFocusDown()" />
</ng-container>

<ng-container *ngIf="!focus">
    {{ value }}
</ng-container>
