<div class="spreadsheet">
    <table class="table">
        <thead>
            <tr>
                <th class="header first"></th>
                <th *ngFor="let col of columns" class="header">{{col.caption}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of rows; index as rowIdx">
                <th class="header first">{{rowIdx+1}}</th>
                <td *ngFor="let col of columns; index as colIdx" class="cell" (click)="onFocus(rowIdx, colIdx)"
                    [class.focus]="selected?.row === rowIdx && selected?.col === colIdx">
                    <ngx-cell #cell [(value)]="row[col.name]" (focus)="selected?.row === rowIdx && selected?.col === colIdx"></ngx-cell>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <input #inputs type="text" value="{{colLabelFunction(row, col)}}" [class.hidden]="!col.editable"
                           (keydown.arrowdown)="shiftFocusDown(rowIdx, colIdx)" (keydown.arrowup)="shiftFocusUp(rowIdx, colIdx)"
                           (keydown.arrowright)="shiftFocusRight(rowIdx, colIdx)" (keydown.arrowleft)="shiftFocusLeft(rowIdx, colIdx)"> -->
