@import "../core/variables.scss";

.spreadsheet {
  width: fit-content;
  block-size: fit-content;
  box-shadow: $box-shadow-hd;
  margin: 0;

  .table {
    table-layout: fixed;
    width: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cell,
  .header {
    min-width: 6em;
    height: 1.9em;
    border: 1px solid $color-border-1;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    user-select: none;
    font-weight: 400;

    &.first {
      width: 50px;
    }

    &.focus {
      border: 2px solid $color-primary;
    }
  }

  .cell {
    cursor: cell;
  }

  th {
    background: $color-bg-header;
    color: $color-header;
    padding: 4px;
  }

  td {
    color: $color-label;
    padding: 0 4px;
  }
}
