@import "./variables.scss";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
  background: $color-border;
  border-radius: $border-radius;
}

.hover {
  cursor: pointer;
}

@each $name, $color, $hover in $colors {
  .#{$name} {
    &.background {
      background: $color;
    }
  }
}
