$color-text: #424242;
$color-label: #5f6368;
$color-white: #ffffff;
$color-text-disabled: rgba(0, 0, 0, 0.38);
$color-border: #dbdbdb;
$color-border-1: #e7e7e7;
$color-icon: #aeacb0;

$color-bg-header: #f5f6f7;
$color-header: #1c1e21;
$color-bg-disabled: #fafafa;
$color-bg-selection: #f5f5f5;

$border-radius-small: 2px;
$border-radius: 5px;
$border-radius-circle: 50%;
$border-radius-rounded: 20px;

$opacity-text-disabled: 0.5;
$opacity-bg-disabled: 0.3;

$color-default: #a9a9a9;
$color-default-h: #5f6368;
$color-primary: #22d0b8;
$color-primary-h: #00a793;
$color-info: #5bc0de;
$color-info-h: #31d2f2;
$color-success: #5cb85c;
$color-success-h: #3ec487;
$color-danger: #d9534f;
$color-danger-h: #bb2d3b;
$color-warning: #f0ad4e;
$color-warning-h: #ffca2c;
$color-bg: #343a40;

$colors: (_default, $color-default, $color-default-h),
  (primary, $color-primary, $color-primary-h),
  (info, $color-info, $color-info-h),
  (success, $color-success, $color-success-h),
  (danger, $color-danger, $color-danger-h),
  (warning, $color-warning, $color-warning-h);

$toasts: (_default, $color-bg), (primary, $color-primary), (info, $color-info),
  (success, $color-success), (danger, $color-danger), (warning, $color-warning);

$box-shadow-x-small: 0px 3px 6px rgba(0 0 0 / 4%);
$box-shadow-small: 0px 3px 6px rgba(0 0 0 / 8%);
$box-shadow-medium: 0px 3px 6px rgba(0 0 0 / 12%);
$box-shadow-large: 0px 3px 6px rgba(0 0 0 / 16%);
$box-shadow-x-large: 0px 2px 1px -1px rgb(0 0 0 / 20%),
  0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
$box-shadow-hd: 0 1px 20px rgb(0 0 0 / 30%);
