@import "../core/variables.scss";

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: $color-white;
  font-size: 9px;
  font-weight: 400;
  border-radius: $border-radius-rounded;
  min-width: 16px;
  min-height: 16px;
  padding: 0 4px;
}
