<div class="container" (click)="onClick($event)">
    <div class="radio" [ngClass]="color" [class.selected]="value === selected" [class.disabled]="disabled">
        <div [class.selected]="value === selected" [ngClass]="color"></div>
    </div>
    <span class="label" [class.disabled]="disabled">
        <ng-content></ng-content>
    </span>
    <input type="checkbox" class="input" [checked]="value === selected" />
</div>
