@import "../core/variables.scss";

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  block-size: fit-content;
  font-size: 14px;

  .input {
    display: none;
  }

  .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
    border: 2px solid $color-default;
    border-radius: $border-radius-circle;
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    @each $name, $color in $colors {
      &.#{$name}.selected {
        border-color: $color;
      }
    }

    .selected {
      height: 100%;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      animation: shrink-bounce 280ms cubic-bezier(0.4, 0, 0.23, 1);

      @each $name, $color in $colors {
        &.#{$name} {
          background-color: $color;
        }
      }
    }

    &.disabled {
      opacity: $opacity-bg-disabled;
    }
  }

  &:not(.disabled):hover {
    cursor: pointer;
  }

  .label {
    padding-left: 10px;
    color: $color-label;
    user-select: none;

    &.disabled {
      opacity: $opacity-text-disabled;
    }
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
