@import "../core/variables.scss";

.card {
  border: 1px solid rgb(0 0 0 / 5%);
  border-radius: $border-radius;
  box-sizing: border-box;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card-header {
  padding: 0.75rem 1.5rem;
}

.card-body {
  padding: 1.5rem;
}

.card-footer {
  padding: 0.75rem 1.5rem;
}
