@import "../core/variables.scss";

.icon {
  color: $color-label;
  cursor: pointer;
  user-select: none;
}

.date-picker {
  padding: 15px 20px;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;

    .label {
      flex: 1;
      text-align: center;
      user-select: none;

      &.hover {
        cursor: pointer;
      }
    }

    .material-icons-outlined {
      user-select: none;

      &:not(.disabled):hover {
        cursor: pointer;
      }

      &.disabled {
        color: $color-text-disabled;
      }
    }
  }

  .action {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    padding-top: 20px;

    .clear {
      margin-right: 20px;
    }

    .clear,
    .today {
      cursor: pointer;
      user-select: none;
    }
  }

  .week {
    display: flex;
    align-items: center;
    min-height: 32px;

    .label {
      color: rgba($color-label, 0.7);
      padding-bottom: 5px;
    }

    .day {
      text-align: center;
      min-width: 32px;

      .value {
        font-size: 13px;
        border-radius: $border-radius-circle;
        padding: 8px;
        cursor: pointer;

        &:hover {
          background-color: rgba($color-border, 0.5);
        }

        &.active {
          background-color: $color-primary;
          color: $color-white;
        }

        &.today {
          border: 1px solid $color-primary;
        }
      }
    }
  }

  .rows {
    display: flex;
    align-items: center;
    min-height: 50px;

    .row {
      display: flex;
      text-align: center;
      font-size: 13px;
      min-width: 48px;

      .value {
        cursor: pointer;
        border-radius: $border-radius-circle;

        &:hover {
          background-color: rgba($color-border, 0.5);
        }

        &.active {
          background-color: $color-primary;
          color: $color-white;
        }

        &.month {
          padding: 10px 8px;
        }

        &.year {
          padding: 16px 8px;
        }
      }
    }
  }
}
