<ngx-popper
  [(isOpen)]="isOpen"
  (open)="reset()"
  [height]="350"
  [width]="'fit-content'"
>
  <span toggler class="material-icons-outlined icon" [ngClass]="className">
    event
  </span>

  <div *ngIf="!!data && isOpen" box class="date-picker">
    <div class="navigation">
      <span
        class="material-icons-outlined"
        [class.disabled]="year <= config.year.min"
        (click)="onPrevious()"
        >chevron_left</span
      >
      <div class="label" [class.hover]="type !== 2" (click)="onChange()">
        {{ header }}
      </div>
      <span
        class="material-icons-outlined"
        [class.disabled]="year >= config.year.max"
        (click)="onNext()"
        >chevron_right</span
      >
    </div>

    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="1">
        <div class="rows" *ngFor="let rows of data; index as i">
          <div
            *ngFor="let col of rows; index as j"
            class="row"
            (click)="onSelectMonth($event, i*4 + j)"
          >
            <div class="value month" [class.active]="month === i*4 + j">
              {{col}}
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <div class="rows" *ngFor="let rows of data">
          <div
            *ngFor="let col of rows"
            class="row"
            (click)="onSelectYear($event, col)"
          >
            <div *ngIf="col" class="value year" [class.active]="year === col">
              {{col}}
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <div class="week">
          <div *ngFor="let day of config.days" class="day label">{{day}}</div>
        </div>

        <div class="week" *ngFor="let rows of data">
          <div
            *ngFor="let date of rows"
            class="day"
            (click)="onSelectDate(date)"
          >
            <div
              *ngIf="date"
              class="value"
              [class.today]="today.getTime() === date.getTime()"
              [class.active]="date.getTime() === value?.getTime()"
            >
              {{ date.getDate() }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="action">
      <div class="clear" (click)="onClear()">Clear</div>
      <div class="today" (click)="onToday()">Today</div>
    </div>
  </div>
</ngx-popper>
