<div class="toast" [ngClass]="config.position">
  <div
    class="container"
    *ngFor="let message of messages"
    [@toggle]
    [ngClass]="config.type"
  >
    {{ message.message }}
    <span class="material-icons-outlined" (click)="remove(message.id)">
      close
    </span>
  </div>
</div>
