@import "../core/variables.scss";

.toast {
  position: fixed;
  z-index: 99999;
  min-width: 350px;
  max-width: 350px;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: $border-radius;
    background: #333333;
    color: #ffffff;
    margin-top: 5px;

    .material-icons-outlined {
      cursor: pointer;
      font-size: 14px;
      margin-left: 20px;
    }
  }

  @each $name, $color in $toasts {
    .#{$name} {
      color: $color-white;
      background-color: $color;
    }
  }

  &.top-left {
    margin-top: 1rem;
    margin-left: 1rem;
    top: 0;
    left: 0;
  }

  &.top-center {
    margin-top: 1rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.top-right {
    margin-top: 1rem;
    margin-right: 1rem;
    top: 0;
    right: 0;
  }

  &.bottom-left {
    margin-bottom: 1rem;
    margin-left: 1rem;
    bottom: 0;
    left: 0;
  }

  &.bottom-center {
    margin-bottom: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom-right {
    margin-bottom: 1rem;
    margin-right: 1rem;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 478px) {
  .toast {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
