@import "../../core/variables.scss";

.toolbar {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: flex-end;
  padding-bottom: 20px;

  .search {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: $color-white;
    border-radius: $border-radius;
    border: 1px solid $color-border;
    padding: 0 5px 0 10px;

    .input {
      flex-grow: 1;
      color: $color-text;
      background-color: $color-white;
      min-height: 20px;
      font-size: 12px;
      border: none;
      outline: none;

      &::placeholder {
        color: $color-label;
      }
    }
  }

  .link {
    user-select: none;
    cursor: pointer;
    &:hover {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
