<div class="toolbar">
  <div (click)="onExport()" class="link">Export to csv</div>

  <div class="link" (click)="onReset()">Reset</div>

  <ngx-dropdown-menu
    [items]="items"
    [multiSelect]="true"
    (selectChanged)="onColumnChanged($event)"
    [itemTemplate]="itemTemplate"
  >
    <ngx-icon name="view_column"></ngx-icon>
  </ngx-dropdown-menu>

  <div class="search">
    <input type="text" class="input" (keyup.enter)="onSearch($event)" />
    <ngx-icon name="search"></ngx-icon>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <ngx-checkbox
    [checked]="item.selected"
    color="primary"
    (checked)="onColumnChanged(item)"
  >
    {{item.text}}
  </ngx-checkbox>
</ng-template>
