@import "../core/variables.scss";

.pulse {
  background-color: $color-border;
  animation: pulse 1.5s ease infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.circle {
  border-radius: $border-radius-circle;
}

.rect {
  border-radius: $border-radius;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
